@font-face {
    font-family: nunito;
    src: url(../fonts/Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: didot;
    src: url(../fonts/GFSDidot-Regular.ttf);
}
    * {
        padding: 0;
        margin: 0;
    }
    body {
        margin: 0;
        padding: 0;
        height: 100%; 
        width: 100% 
    }

.body_matchaspots {
    background-color: #342E27;
}
.body_opskrifter {
    background-color: #E6E2DC;
}
.body_forhandlere {
    background-color: #342E27;
}
.body_index {
    background-color: #E6E2DC;
}

/* fonts */
    h1,h2 {
    font-family: didot;
}
h3 {
    font-family: didot;
}
h4 {
    font-family: didot;
    font-weight: bold;
}
p {
    font-family: nunito;
}
ul,ol {
    font-family: nunito;
}
/* header */

.logo img {
    height: 3.5rem; 
    width: auto; 
    vertical-align: middle; 
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #5F684E;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    width: 50px;
    height: 50px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    display: block;
    padding: 10px;
    color: #E6E2DC;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
  }
  
  .menu a:hover {
    color: #342E27;
  }
  
  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  
  .burger .line {
    width: 100%;
    height: 2px;
    background-color: #E6E2DC;
    margin-bottom: 5px;
    transition: 0.2s linear;
  }
  .burger {
    display: none;
  }

/* index */
.forside_1 {
    background-color: #E6E2DC; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px 10%;
  }
  
  .forside_1_text {
    flex: 1;
    text-align: center;
    max-width: 400px;
  }
  
  .forside_1_text h1 {
    font-size: 2rem;
    color: #342E27; 
    margin-bottom: 20px;
  }
  .forside_1_text p {
    font-size: 1.1rem;
    color: #342E27; 
    margin-bottom: 20px;
    line-height: 1.5;
  }
.knap_1 {
    background-color: #342E27; 
    color: #E6E2DC; 
    font-family: nunito;
    text-decoration: none;
    box-shadow:3px 3px 10px rgb(0, 0, 0);
}
.knap_1:hover {
    background-color: #5F684E;
  }
.forside_2 {
    background-color: #342E27; 
    color: #E6E2DC; 
    text-align: center;
    padding: 50px 10%;
  }
  .forside_2 p {
    line-height: 2.5;
    font-size: 1.1rem;
}

.forside_2 li {
    margin-bottom: 20px; 
    font-size: 1.1rem;
}

.forside_2 h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
  }

.forside_2 h3 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: lighter;
    text-align: center;
}
.forside_3 {
    background-color: #E6E2DC;
    color: #342E27;
    text-align: center;
}
.knap_2 {
    display:inline-block;
    background-color: #5F684E;
    color: #E6E2DC;
    text-decoration: none;
    padding:1rem;
    box-shadow:3px 3px 10px rgb(0, 0, 0);
    margin-bottom:1rem;
    font-family: nunito;
    
}
.knap_2:hover {
    background-color:#342E27;
  }
.knap_3 {
    display:inline-block;
    background-color: #5F684E;
    color: #E6E2DC;
    text-decoration: none;
    padding:1rem;
    box-shadow:3px 3px 10px rgb(0, 0, 0);
    margin-bottom:1rem;
    font-family: nunito;
}
.knap_3:hover {
    background-color:#342E27;
  }
/* matcha-spots */

.intro h1 {
    font-size: 2rem;
    margin-bottom: 20px; 
    line-height: 1.4;
    font-weight: lighter;
}

.matchaspots, .intro {
    background-color: #342E27;
    color:#E6E2DC;
}

.matcha-spots img {
    width: 60%; 
    height: 400px; 
    object-fit: cover; 
    border-radius: 8px;
}
/* opskrifter */
.opskrifter {
    background-color: #E6E2DC
}
.opskrifter h1 {
    text-align: center;
    color: #342E27;
    margin: 50px auto;
    padding: 20px;
}
.opskrifter_1, .opskrifter_2 {
    background-color: #E6E2DC; 
    color: #342E27;
}

.opskrifter_1 div, .opskrifter_2 div {
    flex: 1;
}

.opskrifter_1 img, .opskrifter_2 img {
    max-width: 70%;
    height: auto;
    border-radius: 20px;
}


h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}

ul {
    list-style-type: none; 
}

li {
    font-size: 1.1rem;
    line-height: 2rem;
}
p {
    font-size: 1.1rem;
}
.opskrifter_1 h2, .opskrifter_1 ul {
    text-align: center;
}
.opskrifter_2 p {
    text-align: left;
    margin-top: 1rem;
}

/* forhandlere */
.forhandlere_1 {
    background-color: #342E27;
    color: #E6E2DC;
}
.forhandlere_1 img {
    width: 100%;
    max-width: 600px;
}

.forhandlere_1 h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.forhandlere_1 ul {
    list-style: none;
    padding: 0;
    font-size: 1.1rem;
    line-height: 2;
}
.forhandlere_1 li {
    margin-bottom: 2.5rem
}
h1, h2, h3 {
    letter-spacing: 1.5px;
}
/* footer */
footer {
    background-color: #5F684E; 
    color: #E6E2DC; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 40px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box; 
}


.footer-left {
    display: flex;
    align-items: center;
}

.footer-left h1 {
    font-size: 28px;
    margin: 0;
    padding-right: 20px;
}

.footer-left .button {
    background-color: #E6E2DC;
    color: #5F684E;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    border: 1px solid #5F684E;
}

.footer-left .button:hover {
    background-color: #342E27;
}


.footer img {
    height: 4rem; 
    width: auto; 
}
.footer-right {
    text-align: right;
}

.footer-right p {
    margin: 0;
    font-size: 14px;
}
@media screen and (max-width: 800px) {
    .menu {
      display: none;
    }
    .burger {
      display: block;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }
  
    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }
  
    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }
  
    nav.active .menu {
      display: block;
      background-color: #5F684E;
      position: absolute;
      top: 94px;
      left: 0;
      width: 100%;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }
  
    nav.active .menu li {
      margin: 10px 20px;
    }
  
    nav.active .menu a {
      font-size: 24px;
    }
  }
  

