
  
@media (width>1200px) {


    /* index */
  .knap_1 {
    display: inline-block;
    padding: 12px 20px;
    font-size: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .forside_1 {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    justify-items: center; 
    align-items: center; 
}
  
  .forside_1_image img {
    width: 90%;
  }

  
  .forside_2_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px; 
  }
  
  .text-box {
    flex: 1;
    text-align: left;
    font-size: 1.1rem;
    font-family: nunito;
    max-width: 400px;
  }
  
  .image-box img {
    width: 100%;
    max-width: 350px; 
    border-radius: 20px; 
    display: block;
    margin: auto;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
  }
 
  .text-box ul {
    list-style: none; 
    padding: 0;
  }
  
  .text-box ul li {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  .forside_3 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center; 
    gap: 40px; 
    background-color: #E6E2DC; 
    padding: 80px;
}

.forside_3 img {
    width: 70%; 
    height: auto;
    order: -1;
}

.forside_3 div {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.forside_3 h2 {
    font-size: 2rem;
}

.forside_3 p {
    font-size: 1.1rem;
}

  /* matcha-spots */
  .matchaspots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
    padding: 40px;
    margin-top: 50px;
  }
  .matcha-spots {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    width: 100%;
}

  .matcha-spots h4, p {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .matcha-spots h4 {
    font-size: larger;
  }

  .intro {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}


  /* opskrifter */
  .opskrifter_1, .opskrifter_2 {
    display: flex;
    align-items: center;
    max-width: 1200px;
    gap: 40px;
    margin: 50px auto;
    padding: 20px;
}
.opskrifter_2 {
    flex-direction: row-reverse; 
}
/* forhandlere */
.forhandlere_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    padding: 4rem;
}

}
/* mobilversion */
@media (width<800px) {
    /* header */

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
        padding-top: 20px;
    }


    h3 {
        font-size: 1rem
    }

    h4 {
        font-size: 1rem; 
        text-align: center;
    }
    p {
        font-size: 0.8rem;
        line-height: 1.8;
    }
    /* Index */
    .forside_1 {
        flex-direction: column; 
        padding: 40px 5%;
    }

    .forside_1_text h1 {
        font-size: 1.5rem; 
        margin-bottom: 15px;
    }

    .forside_1_text p {
        font-size: 0.8rem; 
        margin-bottom: 15px;
    }
    .forside_1 img, .forside_2 img, .forside_3 img {
        width: 90%;
        max-width: 100%;
        height: auto;
        display: block; 
        margin: 0 auto; 
        padding: 30px;
    }
    
    p {
        padding: 20px;
    }

    .knap_1, .knap_2, .knap_3 {
        font-size: 0.8rem;
        padding: 10px 15px;
    }

    .forside_2 {
        padding: 30px 10%;
        text-align: center;
    }

    .text-box p, .text-box li {
        font-size: 0.8rem; 
    }


    /* Matcha-spots */
    .matchaspots {
        gap: 30px;
        padding: 20px;
        text-align: center; }

    .matcha-spots img {
        padding: 20px;
        width: 70%; 
        align-items: center;
    
    }

    .matcha-spots h4 {
        font-size: 1rem; 
        text-align: center;
    }
    .matcha-spots p {
        font-size: 0.8rem; 
        text-align: center;
    }

    /* Opskrifter */
    .opskrifter_1, .opskrifter_2 {
        gap: 20px;
    }


    .opskrifter_2 h2, .opskrifter_1 h2  {
        font-size: 1.2rem;
    }


    .opskrifter_2 ul, .opskrifter_2 ol, .opskrifter_2 p {
        font-size: 0.8rem;
    }
  
    .opskrifter_1, .opskrifter_2 {
        gap: 20px;
    }

    .opskrifter_1 ul, .opskrifter_2 ul,
.opskrifter_1 ol, .opskrifter_2 ol, .opskrifter_2 h2, .opskrifter_2 p {
    list-style-type: none; 
    padding: 0; 
    margin: 0 auto; 
    text-align: center; 
     }

    .opskrifter_1 img, .opskrifter_2 img {
        width: 60%; 
        max-width: 100%; 
        height: auto;
        display: block; 
        margin: 0 auto; 
        padding: 30px;
    }

    /* Forhandlere */
    .forhandlere_1 {
        grid-template-columns: 1fr; 
        padding: 2rem;
    }

    /* Footer */
    footer {
        flex-direction: column;
        align-items: center;
        padding: 20px 10px;
    }

    .footer-left,
    .footer-right {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-left h1 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }

    /* Buttons */
    .footer-left .button {
        font-size: 1rem;
        padding: 8px 15px;
    }
 
}
  