
  
@media (width>1200px) {


    /* index */
  .knap_1 {
    display: inline-block;
    padding: 12px 20px;
    font-size: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .forside_1 {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    justify-items: center; 
    align-items: center; 
}
  
  .forside_1_image img {
    width: 90%;
  }

  
  .forside_2_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px; 
  }
  
  .text-box {
    flex: 1;
    text-align: left;
    font-size: 1.1rem;
    font-family: nunito;
    max-width: 400px;
  }
  
  .image-box img {
    width: 100%;
    max-width: 350px; 
    border-radius: 20px; 
    display: block;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
 
  .text-box ul {
    list-style: none; 
    padding: 0;
  }
  
  .text-box ul li {
    margin-bottom: 10px;
    font-size: 1rem;
  }
  .forside_3 {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center; 
    gap: 40px; /
    background-color: #E6E2DC; 
    padding: 60px;
}

.forside_3 img {
    width: 70%; 
    height: auto;
    order: -1;
}

.forside_3 div {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.forside_3 h2 {
    font-size: 2rem;
}

.forside_3 p {
    font-size: 1.1rem;
}

  /* matcha-spots */
  .matchaspots {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    margin-top: 30px;
    align-items: center;
  }

  .matcha-spots h4, p {
    text-align: center;
  }

  .intro {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}


  /* opskrifter */
  .opskrifter_1, .opskrifter_2 {
    display: flex;
    align-items: center;
    max-width: 1200px;
    gap: 40px;
    margin: 50px auto;
    padding: 20px;
}
.opskrifter_2 {
    flex-direction: row-reverse; 
}
/* forhandlere */
.forhandlere_1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
    padding: 4rem;
}

}

  